# Node.js dependencies
node_modules/

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Build directories
dist/

# Temporary files
tmp/
temp/

# Coverage directory used by tools like istanbul
coverage/

# IDE or editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Specific files to ignore
*.tgz
package-lock.json

.vercel
